<% if @project.user_id == current_user.id %>
<p id="notice"><%= notice %></p>
<div class="form-inputs">
<h3>
  <strong>Name:</strong>
  <%= @tasklist.name %>
</h3>
</div>
<%= link_to 'Back', projects_path, :class => 'btn btn-xs btn-default' %>
<hr>
<h3> Tasks </h3>
<div class="well">
<% @task = Task.where(tasklist_id: params[:id]).to_a %>
<% @task.each do |task| %>      
        <p><strong><%= link_to  task.name, task %><%= link_to '[X]', task,
				method: :delete,
				data: {confirm: 'You sure you want to delete this?'} %>
</strong></p>
        <p><%= task.description %></p>
        <% end %>
</div>
    <hr>
<h3>New Task</h3>

<%= simple_form_for(Task.new) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.hidden_field :tasklist_id, value: params[:id] %>
    <%= f.hidden_field :project_id, value: params[:project_id] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<% else %>
<h1>You are not allowed to visit this page</h1>   
<%= link_to 'Back', projects_path, :class => 'btn btn-xs btn-default' %>
<% end %>
