<% if @project.user_id == current_user.id %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<% else %>
<h1>You are not allowed to visit this page</h1>   
<%= link_to 'Back', projects_path %>
<% end %>